body {
	background-color: #F9D23F;
}
.login h1 a {
	background-image: url('../img/logo.svg');
	background-size: 100px;
	width: 100px;
	height: 125px;
	pointer-events: none;
}
.login #backtoblog a, .login #nav a {
	color: black;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
	color: black;
	text-decoration: underline;
}
.login #backtoblog a:focus, .login #nav a:focus {
	color: black;
	box-shadow: none;
	text-decoration: underline;
}
.login form {
	border: none;
}
.wp-core-ui .button-primary {
	background: #F9D23F;
    border-color: #F9D23F;
	color: white !important;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
	background: #d9b326;
    border-color: #d9b326;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #d9b326;
}
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
	border-color: #F9D23F;
	box-shadow: 0 0 0 1px #F9D23F;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
	color: #F9D23F;
}
.wp-core-ui .button-secondary:hover, .wp-core-ui .button.hover, .wp-core-ui .button:hover {
	color: #F9D23F;
}
.login .button.wp-hide-pw:focus {
	border-color: #F9D23F;
    box-shadow: 0 0 0 1px #F9D23F;
}
.wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus {
	color: #F9D23F;
}
.login .message {
	border-left-color: #3DB6C9;
}
.login #login_error {
    border-left-color: #FF0000;
}
.login .success {
    border-left-color: #67DE76;
}