.about {
	padding-bottom: 0px;
	margin-bottom: 100px;
	
	@media screen and (max-width: $large) {
		padding-top: calc(150px - 10vw);
	}
	@media screen and (max-width: $medium) {
		margin-bottom: 50px;
	}
	@media screen and (max-width: $small) {
		padding-top: calc(120px - 10vw);
	}
	@media screen and (max-width: 500px) {
		padding-top: calc(120px - 12vw);
	}
	.elementor-container {
		.side-col {
			@media screen and (max-width: $large) {
				order: 1;
			}
		}
		.col-lg-8 {
			@media screen and (max-width: $large) {
				order: 2;
			}
		}
	}
	.elementor-widget-heading, .elementor-widget-agency-dots {
		display: inline-block;
		width: auto !important;

		.elementor-widget-container {
			display: inline-block;
		}
	}
	.elementor-widget-agency-dots {
		display: flex;
		align-items: center;

		+ .elementor-widget-text-editor {
			@media screen and (max-width: 1365px) {
				margin-top: 20px;
			}
		}
		.agency-buttons {
			margin: 10px 0px;
		}
	}
	.side-col {
		height: 0px;

		@media screen and (max-width: $large) {
			flex: 0 0 100%;
			max-width: 100%;
			margin-left: calc(50% - 5vw);
			transform: rotate(90deg);
			height: 10vw;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 0px;
			margin-top: 0px;
		}
		@media screen and (max-width: 700px) {
			flex: 0 0 150%;
			max-width: 150%;
			margin-left: calc(25% - 5vw);
		}
		@media screen and (max-width: 500px) {
			flex: 0 0 170%;
			max-width: 170%;
			margin-left: calc(15% - 6vw);
			height: 12vw;
		}
		@media screen and (max-width: 380px) {
			flex: 0 0 185%;
			max-width: 185%;
			margin-left: calc(7.5% - 6vw);
		}
		@media screen and (max-width: 330px) {
			flex: 0 0 200%;
			max-width: 200%;
			margin-left: -6vw;
		}
		&.elementor-column {
			margin-left: -8.3333%;

			@media screen and (max-width: $large) {
				margin-left: calc(50% - 5vw);
			}
			@media screen and (max-width: 700px) {
				margin-left: calc(25% - 5vw);
			}
			@media screen and (max-width: 500px) {
				margin-left: calc(15% - 6vw);
			}
			@media screen and (max-width: 380px) {
				margin-left: calc(7.5% - 6vw);
			}
			@media screen and (max-width: 330px) {
				margin-left: -6vw;
			}
			.elementor-widget-wrap {
				@media screen and (max-width: $large) {
					width: auto;
				}
			}
		}
		.section-label {
			@media screen and (max-width: $large) {
				transform: none;
				margin-left: 100px;
			}
			@media screen and (max-width: $medium) {
				margin-left: 50px;
			}
		}
	}
}
.about-video {
	padding-top: 0px;

	.video {
		margin-left: 70px;

		@media screen and (max-width: $large) {
			margin-left: 0px;
		}
	}
	.col-11 {
		@media screen and (max-width: $large) {
			padding-left: 0px;
		}
	}
}