.hero {
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;

	&__img {
		width: 100%;
		height: 100%;
		position: absolute !important;
		top: 0px;
		left: 0px;

		.elementor-widget-container {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100% !important;
			pointer-events: none;
			object-fit: cover;
		}
	}
	&__text {
		position: relative !important;
		padding-top: 283px !important;

		@media screen and (max-width: $medium) {
			padding-top: 187px !important;
		}
		&.elementor-section {
			min-height: 100vh;
		}
		&__hello {
			p {
				font-size: 25px;
				line-height: 42px;
				font-weight: 500;
				margin-bottom: 30px;

				@media screen and (max-width: $medium) {
					font-size: 22px;
					line-height: 40px;
				}
			}
			img {
				@media screen and (max-width: $medium) {
					width: 207px;
				}
			}
			.circle-btn {
				display: none;
				margin: 80px auto 0px;

				@media screen and (max-width: $large) {
					display: block;
				}
			}
		}
		&__side {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;

			@media screen and (max-width: $large) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: calc(50% - 5vw);
				transform: rotate(90deg);
				height: 10vw;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 0px;
				margin-top: 40px;
				margin-bottom: 70px;
			}
			@media screen and (max-width: 700px) {
				flex: 0 0 150%;
				max-width: 150%;
				margin-left: calc(25% - 5vw);
			}
			@media screen and (max-width: 500px) {
				flex: 0 0 170%;
				max-width: 170%;
				margin-left: calc(15% - 6vw);
				height: 12vw;
			}
			@media screen and (max-width: 380px) {
				flex: 0 0 185%;
				max-width: 185%;
				margin-left: calc(7.5% - 6vw);
			}
			@media screen and (max-width: 330px) {
				flex: 0 0 200%;
				max-width: 200%;
				margin-left: -6vw;
			}
			.elementor-widget-wrap {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;

				@media screen and (max-width: $large) {
					justify-content: center;
				}
			}
			.circle-btn {
				margin: 0px auto;

				@media screen and (max-width: $large) {
					display: none;
				}
			}
			.elementor-widget-section-label {
				align-self: center;
				transform: rotate(90deg) translateX(-50%);
				padding-left: 70px;
				margin-bottom: -10px;
				width: auto !important;

				@media screen and (max-width: $large) {
					transform: none;
					padding-left: 0px;
					margin-bottom: 0px;
				}
			}
			.section-label {
				color: $black;
				transform: none;
			}
		}
	}
}