* {
    box-sizing: border-box !important;
}
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
	font-family: $inter;
	font-size: 20px;
	line-height: 35px;
	font-weight: 300;
	color: $black;
	overflow-x: hidden;
	overflow-y: auto !important;
	margin: 0px !important;

	@media screen and (max-width: $medium) {
		font-size: 18px;
		line-height: 30px;
	}
}
strong {
	font-weight: 600;
}
.browserupgrade {
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
	background-color: $black;
    color: $white;
    z-index: 1000;

	a {
		color: $white !important;
		text-decoration: underline;
	}
}
.row {
	width: 100%;
	margin: 0px;
}
h1 {
	font-size: 65px;
	line-height: 46px !important;
	font-weight: 500;
	margin: 0.67em 0 !important;

	@media screen and (max-width: $medium) {
		font-size: 55px;
		line-height: 59px !important;
		margin-top: 0px !important;
	}
}
h2 {
	font-size: 77px;
	line-height: 94px;
	font-weight: 900;
	color: $primary;
}
h3 {
	font-size: 40px;
	line-height: 49px;
	font-weight: 500;
	color: $primary;
}
h4 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 500;
	margin: 0px;

	@media screen and (max-width: $medium) {
		font-size: 40px;
		line-height: 45px;
	}
}
a {
	font-weight: 600;
	color: $black;
	transition: .1s ease-in-out;

	&:hover, &:focus, &:active, &:visited {
		color: $black;
	}
	&:focus {
		outline: none;
	}
}
.circle-btn {
	display: block;
	width: 143px;
	height: 143px;
	border: 3px solid $black;
	border-radius: 50%;
	font-size: 15px;
	line-height: 25px;
	font-weight: 900;
	letter-spacing: 2.44px;
	text-transform: uppercase;
	text-align: center;
	padding: 44px 0px;
	transition: .2s cubic-bezier(0.42, 0.97, 0.52, 1.49);

	&:hover {
		text-decoration: none;
		transform: scale(1.1);
		background-color: $white;
		border-color: $white;
		color: $primary;
	}
}
.section-label {
	display: inline-block;
	font-size: 13px;
	line-height: 17px;
	font-weight: 900;
	letter-spacing: 2.44px;
	text-transform: uppercase;
	color: $primary;
	transform: rotate(90deg);
}
.elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}
.elementor-editor-active .elementor {
	z-index: 101;

	.hero {
		.elementor-column-gap-no>.elementor-column>.elementor-element-populated {
			padding-top: 30px !important;
		}
	}
	.work {
		.work-section {
			padding: 200px 0px;
		
			@media screen and (max-width: $large) {
				padding: calc(200px - 10vw) 0px 200px;
			}
			@media screen and (max-width: $medium) {
				padding: calc(150px - 10vw) 0px 150px;
			}
			@media screen and (max-width: 500px) {
				padding: calc(150px - 12vw) 0px 150px;
			}
			&:nth-of-type(even) {
				background-color: $white !important;

				.work-area {
					@media screen and (max-width: $large) {
						padding-left: 0px;
					}
				}
				.side-col {
					background-color: $white !important;
					height: 320px;
					padding-top: 320px;
					margin-top: -520px;
					flex: 0 0 25%;
					max-width: 25%;
					margin-left: 75% !important;
		
					@media screen and (max-width: $large) {
						flex: 0 0 100%;
						max-width: 100%;
						margin-left: calc(50% - 5vw);
						transform: rotate(90deg);
						height: 10vw;
						display: flex;
						justify-content: center;
						align-items: center;
						padding-top: 0px;
						margin-top: 0px;
						margin-left: 45% !important;
					}
					@media screen and (max-width: 700px) {
						flex: 0 0 150%;
						max-width: 150%;
						margin-left: calc(25% - 5vw);
					}
					@media screen and (max-width: 500px) {
						flex: 0 0 170%;
						max-width: 170%;
						margin-left: calc(15% - 6vw);
						height: 12vw;
					}
					@media screen and (max-width: 380px) {
						flex: 0 0 185%;
						max-width: 185%;
						margin-left: calc(7.5% - 6vw);
					}
					@media screen and (max-width: 330px) {
						flex: 0 0 200%;
						max-width: 200%;
						margin-left: -6vw;
					}
					.section-label {
						@media screen and (max-width: $large) {
							transform: none;
							margin-left: -15%;
						}
						@media screen and (max-width: $medium) {
							margin-left: -10%;
						}
					}
				}
			}
			&:nth-of-type(odd) {
				background-color: $black;
		
				.work-area {
					@media screen and (max-width: $large) {
						padding-right: 0px;
						margin-left: 8.33333%;
					}
				}
				.side-col {
					background-color: $black;
					height: 320px;
					padding-top: 320px;
					margin-top: -520px;
					flex: 0 0 25%;
					max-width: 25%;
					margin-left: 0px;
		
					@media screen and (max-width: $large) {
						flex: 0 0 100%;
						max-width: 100%;
						margin-left: calc(-40% - 5vw);
						transform: rotate(90deg);
						height: 10vw;
						display: flex;
						justify-content: center;
						align-items: center;
						padding-top: 0px;
						margin-top: 0px;
					}
					@media screen and (max-width: 700px) {
						flex: 0 0 150%;
						max-width: 150%;
						margin-left: calc(-65% - 5vw);
					}
					@media screen and (max-width: 500px) {
						flex: 0 0 170%;
						max-width: 170%;
						margin-left: calc(-75% - 4.1vw);
						height: 12vw;
					}
					@media screen and (max-width: 380px) {
						flex: 0 0 185%;
						max-width: 185%;
						margin-left: calc(-82.5% - 4.1vw);
					}
					@media screen and (max-width: 330px) {
						flex: 0 0 200%;
						max-width: 200%;
						margin-left: calc(-90% - 4.1vw);
					}
					.section-label {
						@media screen and (max-width: $large) {
							transform: none;
							margin-left: -15%;
						}
						@media screen and (max-width: $medium) {
							margin-left: -10%;
						}
					}
				}
			}
			&:nth-of-type(2) {
				.work-area {
					@media screen and (max-width: $large) {
						margin-left: 0px;
					}
				}
				.side-col {
					height: auto;
					padding-top: 0px;
					margin-top: 0px;
					flex: 0 0 16.66667%;
					max-width: 16.66667%;
					margin-left: 83.33333% !important;
					
					@media screen and (max-width: $large) {
						flex: 0 0 100%;
						max-width: 100%;
						margin-left: calc(50% - 5vw);
						transform: rotate(90deg);
						height: 10vw;
						margin-left: 45% !important;
					}
					@media screen and (max-width: 700px) {
						flex: 0 0 150%;
						max-width: 150%;
						margin-left: calc(25% - 5vw);
					}
					@media screen and (max-width: 500px) {
						flex: 0 0 170%;
						max-width: 170%;
						margin-left: calc(15% - 6vw);
						height: 12vw;
					}
					@media screen and (max-width: 380px) {
						flex: 0 0 185%;
						max-width: 185%;
						margin-left: calc(7.5% - 6vw);
					}
					@media screen and (max-width: 330px) {
						flex: 0 0 200%;
						max-width: 200%;
						margin-left: -6vw;
					}
					.section-label {
						@media screen and (max-width: $large) {
							margin-left: 10%;
						}
					}
				}
			}
		}
	}
}
.elementor-editor-active.single {
	header, .entry-footer {
		display: none;
	}
}